@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Poppins:wght@300;400;700&display=swap");
@import "tailwindcss";

:root {
  /* Colors */
  --text-main: #3d3d3d;
  --cta-main: #008cff;
  --cta-hover: #0070e0; /* Darker blue for hover */
  --secondary-gradient-start: #55c39f;
  --secondary-gradient-end: #d3ebc6;

  /* Fonts */
  --font-sans: "Poppins", sans-serif;
  --font-heading: "Oswald", sans-serif;

  /* Backgrounds */
  --bg-main: #f8f8ff;
  --bg-second: linear-gradient(
    100deg,
    var(--secondary-gradient-start) 0%,
    var(--secondary-gradient-end) 100%
  );
  --foreground: #171717;
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Apply global styles */
body {
  background: var(--bg-main);
  color: var(--text-main);
  font-family: var(--font-sans);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

/* CTA Button */
.cta-button {
  background-color: var(--cta-main);
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
}

.cta-button:hover {
  background-color: var(--cta-hover);
}

/* Background classes */
.bg-main {
  background: var(--bg-main);
}

.bg-second {
  background: var(--bg-second);
}

/* FIXED Background for the Contact Section */
.bg-third {
  background-image: url("/background/Wave.png"); /* Ensure the path is correct */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Text Color */
.text-main {
  color: var(--text-main);
}

.rotate-light {
  transform: rotate(30deg); /* Initially tilted right */
  filter: grayscale(100%); /* Initially grayscale */
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.rotate-light:hover {
  transform: rotate(30deg) scale(1.1); /* Stays tilted but scales up */
  filter: grayscale(0%); /* Restores color when hovered */
}


@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes downup {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px); /* Moves down */
  }
  100% {
    transform: translateY(0);
  }
}

.hover-animate-downup:hover {
  animation: downup 1.5s ease-in-out infinite;
}

.hover-animate-updown:hover {
  animation: updown 1.5s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
}
